<!doctype html>
<html>
<head>
    <title>Skate Workout Generator</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>


    <style>

    body {
        background-image: url(/static/skate.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: sans-serif;
        color: 1B3B57;
    }

    .box {
        margin: 10% 10% 10% 10%;
        border: solid 1B3B57 5px;
        opacity: .8;
        background-color: white;
    }
    
    </style>

    <div class="box">
    <h1>Welcome to the Figure Skating Workout Generator</h1>
    <div class="generator">
        <form class="generator-form" action="/generate" method="GET">
            <label>What level skater are you?
                <select name="skater-level">
                    <option value="Alpha">Alpha</option>
                    <option value="Beta">Beta</option>
                    <option value="Gamma">Gamma</option>
                    <option value="Delta">Delta</option>
                    <option value="Freestyle 1">Freestyle 1</option>
                    <option value="Freestyle 2">Freestyle 2</option>
                    <option value="Freestyle 3">Freestyle 3</option>
                    <option value="Freestyle 4">Freestyle 4</option>
                    <option value="Freestyle 5">Freestyle 5</option>
                    <option value="Freestyle 6">Freestyle 6</option>
                    <option value="Freestyle 7">Freestyle 7</option>
                    <option value="Freestyle 8">Freestyle 8</option>
                    <option value="Freestyle 9">Freestyle 9</option>
                    <option value="Freestyle 10">Freestyle 10</option>
                </select>
            <label>Choose the number of minutes you'll be on ice.
                <select name="practice-time">
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="90">90</option>
                    <option value="120">120</option>
                </select>
            </label>
            <label>Select type(s) of exercises you want to work on: 
                <input type="checkbox" name="exercise-type" value="Jumps" class="type">Jumps
                <input type="checkbox" name="exercise-type" value="Spins" class="type">Spins
                <input type="checkbox" name="exercise-type" value="Edges" class="type">Edges
                <input type="checkbox" name="exercise-type" value="Footwork" class="type">Footwork
            </label>
            <label>
                <input type="submit" value="Generate">
            </label>
        </form>   
    </div>
    </div>
</body>
</html>
<!-- 
<script type="text/javascript">
    
    function generateWorkout(result) {

        var num_min = $(".time:checked").val();
        var ex_types = $(".type:checked").val();
    }
</script> -->